<div class="mb-2">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="pageElementsSelect"
                data-bs-toggle="dropdown" aria-expanded="false">
            Page Elements
        </button>
        <ul class="dropdown-menu" aria-labelledby="pageElementsSelect">
            <li><a class="dropdown-item" href="#"
                   th:href="@{/users(pageNumber=${currentPage}, sortDir=${sortDir}, sortBy=${sortBy}, pageElements=3)}"
                   onclick="changePageElements(3)">Show 3</a></li>
            <li><a class="dropdown-item" href="#"
                   th:href="@{/users(pageNumber=${currentPage}, sortDir=${sortDir}, sortBy=${sortBy}, pageElements=5)}"
                   onclick="changePageElements(5)">Show 5</a></li>
            <li><a class="dropdown-item" href="#"
                   th:href="@{/users(pageNumber=${currentPage}, sortDir=${sortDir}, sortBy=${sortBy}, pageElements=10)}"
                   onclick="changePageElements(10)">Show 10</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form class="px-4 py-3" onsubmit="changePageElementsCustom(); return false;">
                    <div class="mb-3">
                        <input type="number" class="form-control" id="customPageElements"
                               placeholder="Enter number">
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>